@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Signika Negative', sans-serif;
}

ul li{
	list-style: none;
}

@layer components{
	.swipe-slide {
		@apply before:absolute before:content-[''] before:w-0 before:h-full before:bg-black before:-z-10 before:top-0 before:left-0 hover:before:w-full before:transition-all hover:before:duration-500 before:duration-500
	}
	.wrapper {
		@apply w-full flex flex-col xl:flex-row border-b border-l border-black
	}
}